<!-- Hero -->
<div class="bg-[#014b3a] relative overflow-hidden">
<img src="https://nauthemes.com/demo/muezzin/wp-content/uploads/2023/12/tq-feat-bg.jpg" class="absolute opacity-10  object-cover h-full w-full   "/>    
<div class="mt-10 ">
    <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-0 lg:pt-18 pb-24  ">       
      <img class="mb-4" src="/public/images/jaryya2.png" alt="Avatar">
        <h1 class="font-semibold text-green-100 text-5xl md:text-5xl font-Cinzel-Decorative">
          <span class="text-[#ff0] ">Jaryya</span><br> <span class="text-3xl">Partner Mewujudkan Amal Abadi</span></h1>
        <div class="max-w-4xl mt-4"><hr class="opacity-50">
          <p class="mt-3 mb-3 text-lg text-yellow-100 font-Epilogue ">
            Dari Abu Hurairah radhiyallahu 'anhu, ia berkata bahwa Rasulullah shallallahu alaihi wa sallam bersabda,<br> "Jika seseorang meninggal dunia, maka terputuslah amalannya kecuali tiga perkara (yaitu): sedekah jariyah, ilmu yang dimanfaatkan, atau do'a anak yang sholeh."<br>
(HR. Muslim no. 1631)
          </p><hr class="opacity-50">
        </div>
      </div>   
  </div>
  <!-- End Hero -->
  
  <!-- Clients -->
 
  </div>
  <!-- End Clients -->
</div>