---
import Hero from "../components/main/Hero.astro";
import About from "../components/main/About.astro";
import Feature from "../components/main/Feature.astro";
import Service from "./main/Service.astro";
---

<main>
    <div >
      <Hero />
      <About />
      <Service />
    </div>
</main>